<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Sklep z owocami</title>

    <link rel="canonical" th:href="@{https://getbootstrap.com/docs/4.0/examples/navbars/}" />
    <link rel="icon" th:href="@{/img/logo.png}" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css}" rel="stylesheet" />

    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet" />
</head>

<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapse" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Strona główna</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav nav">
                    <li class="active">
                        <a th:href="@{/browse}">Przeglądaj</a>
                    </li>
                    <li>
                        <a href="#">Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a sec:authorize="isAnonymous()" th:href="@{/login}">Moje konto</a>
                    </li>
                    <li class="active">
                        <a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">Moje konto</a>
                    </li>
                    <li>
                        <a th:href="@{/shoppingCart/cart}">Koszyk</a>
                    </li>
                    <li>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>



<div th:fragment="body-bottom-scripts">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</div>
</body>
</html>
