<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline"><span th:text="%{#strings.toUpperCase{user.username}}"></span></h2>
            </h2>
        </div>
        <div class="col-xs-4">

        </div>
    </div>
    <hr style="position: absolute; width: 90%; height: 6px; background-color: #333; z-index: -1; margin-top: 70px;"/>


    <div class="row" style="margin-top: 120px">
        <div class="col-xs-9 col-xs-offset-3">
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a href="#tab-1" data-toggle="tab"><span style="color: red;">Edytuj</span></a></li>
                <li th:classappend="${classActiveOrders}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color: red;">Zamówienia</span></a></li>
                <li th:classappend="${classActiveBilling}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color: red;">Rachunki</span></a></li>
                <li th:classappend="${classActiveShipping}? 'active'"><a href="#tab-4" data-toggle="tab"><span style="color: red;">Wysyłka</span></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveEdit}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}" />

                                    <div class="bg-info" th:if="${updateUserInfo}">Dane o użytkowniku zostały zaktualizowane.</div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">Imię</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="lastName">Nazwisko</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username">Nazwa użytkownika</label>
                                        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" />
                                    </div>

                                    <div class="form-group">
                                        <label for="currentPassword">Hasło</label>
                                        <input type="text" class="form-control" id="currentPassword" name="currentPassword" th:value="${currentPassword}" />
                                    </div>

                                    <p style="color: #828282">Wpisz swoje hasło, by zmienić email lub hasło.</p>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" th:value="${user.email}" />
                                    </div>

                                    <p style="color: #828282">Wprowadź email.</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Hasło</label>
                                        <input type="password" class="form-control" id="txtNewPassword" name="newPassword" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Potwierdź hasło</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword"/>
                                    </div>

                                    <p style="color: #828282">Aby zmienić hasło, wprowadz nowe w wybrane pola.</p>

                                    <button type="submit" class="btn btn-primary">Utwórz nowe konto</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
